{% extends 'MentorshipMasterBundle::base.html.twig' %}
{% block body %}
  <section>
    <h2>Куда я попал?</h2>
    <p>
      Привет. Меня зовут
      <a href="http://ru.stackoverflow.com/users/16095/etki">
          <i class="fa fa-stack-overflow"></i> Etki</a>, я живу в
      Санкт-Петербурге, и мое основное занятие - разработка на PHP. В какой-то
      момент я решил, что стоит экстенсивно делиться своим профессиональным
      опытом с людьми.
    </p>
    <p>
      Путями разной окольности я пришел к тому, что мне больше всего подходит
      форма личного менторинга - когда я готов тратить некоторое количество
      времени в неделю на конкретного человека, обсуждать его
      вопросы и успехи, давать советы по конкретным проблемам и
      рекомендовать материалы на неделю вперед.
    </p>
    <p>
      Эта страница существует для того, чтобы я нашел тех людей, которые были бы
      готовы обучаться в этом формате.
    </p>
  </section>
  <section>
    <h2>Кого ты ищешь?</h2>
    <p>
      Я ищу людей, которые уже не первый день в веб-разработке, однако хотят
      шагнуть еще дальше. Те, кто уткнулись в стену на втором годе практики, или
      просто которым чего-то не хватает в развитии. Если вы:
    </p>
    <ul>
      <li>
        Знаете, какие ограничения накладывает интерфейс, но не понимаете,
        зачем
      </li>
      <li>
        Умеете создавать классы, но не видите серьезной разницы с
        функциональным / структурным программированием
      </li>
      <li>
        Заливаете файлы по ftp/scp, недовольны этим, но не знаете, что с
        этим сделать
      </li>
      <li>
        Подозреваете, что рефакторинг - это совсем не переписывание плохо
        работающего кода в рабочий
      </li>
      <li>
        Чувствует потребность отвечать на StackOverflow или аналоге, однако не
        хватает опыта на серьезные вопросы
      </li>
      <li>
        Хотите попробовать тестирование или докеризацию
      </li>
      <li>
        Недавно узнали о существовании стандарты написания кода или что
        версионирование базы данных ведется через миграции
      </li>
      <li>
        Хотите узнать про использование виртуальных машин при разработке
      </li>
      <li>
        Вам надоело писать длинный код из повторяющихся конструкций в CSS / JS /
        шаблонах на PHP, но вы не знаете, как это упростить
      </li>
      <li>
        Хотите перестать бояться слов "постоянная интеграция" и "покрытие кода"
        в вакансиях
      </li>
    </ul>
    <p>
      то вы - отличный кандидат. Всего я ищу трех студентов, на которых я
      рассчитываю тратить по два-три часа в неделю фиксированно, плюс, возможно,
      давать какие-то советы по простым задачам в ежедневном порядке.
    </p>
    <p>
      К сожалению, мне сложно вести людей с нуля, поэтому я могу отказать по
      этой причине.
    </p>
  </section>
  <section>
    <h2>Как мне записаться?</h2>
    <p>
      Достаточно просто
      <a href="{{ path('application_form') }}" target="_blank">
        заполнить форму</a>.
    </p>
    <p>
      Если у меня все в порядке со временем, и список студентов не переполнен,
      я свяжусь по предоставленному e-mail.
    </p>
  </section>
  <section{{ not active_applicants ? ' data-default-state="collapsed"'}}>
    <h2>Текущие студенты</h2>
    <div class="horizontal-icon-list text-center text-muted">
      {% for applicant in active_applicants %}
        {% if applicant.isPrivateProfile() %}
            <img src="{{ asset('private-profile.png') }}" alt="Приватный профиль"/>
        {% else %}
          {% if applicant.url %}<a href="{{ applicant.url }}">{% endif %}
          <img src="{{ applicant.image }}" alt="{{ applicant.title }}"/>
          {% if applicant.url %}</a>{% endif %}
        {% endif %}
      {% else %}
        Кажется, в данный момент я никого не учу.
      {% endfor %}
    </div>
  </section>
  <section data-default-state="collapsed" class="qa">
    <h2>Q // A</h2>

    <h4>Зачем тебе всё это?</h4>
    <p>
      Я не знаю. Я до сих пор не могу толком ответить на этот вопрос.
    </p>

    <h4>Как долго будет существовать программа?</h4>
    <p>
      Пока мне не надоест.
    </p>

    <h4>Сколько это стоит?</h4>
    <p>
      На усмотрение студента - ровно столько, сколько он хочет отдавать за мои
      консультации. В том числе и бесплатно.
    </p>

    <h4>Не мог бы ты поподробнее рассказать о себе?</h4>
    <p>
      В жизни у меня, конечно, немного другое имя, которое я не очень люблю,
      четыре с половиной года опыта программирования (первые два - два с
      половиной это было просто хобби), диплом звукорежиссера, а количество
      языков программирования, с которыми я бодался, несколько больше одного. У
      меня есть <a href="https://vk.com/fikey" class="fa fa-vk"> контактик</a>,
      куда можно написать,
      <a href="https://github.com/etki" class="fa fa-github"> гитхаб</a>,
      на котором наконец-то появляется что-то полезное,
      <a href="https://ru.stackoverflow.com/users/16095/etki" class="fa fa-stack-overflow">
        профиль на стековерфлоу // ру
      </a> и некоторое количество стесняшки, от которого я постепенно
      избавляюсь. Самые догадливые также без труда вычислят один из моих
      email-ов.
    </p>
    <p>
      Еще мне двадцать четыре года и я придерживаюсь либеральных взглядов, если
      это важно.
    </p>

    <h4>Еще что-нибудь, что стоит знать?</h4>
    <p>
      Я оставляю за собой право в любое время уйти с головой в работу или вообще
      прекратить проект. Скорее всего, внезапно такое никогда не случится.
    </p>
    <p>
      У меня нет помещения для проведения встреч. Есть пара мест, где, возможно,
      будет получаться пересечься, однако этот вопрос надо будет решать. Я также
      не имею ничего против общения по скайпу или обычной электронке.
    </p>
    <p>
      Идеальным вариантом я вижу нахождение трех-четырех студентов примерно
      одного уровня и проведение одновременного сеанса на несколько часов в
      субботу днем-вечером.
    </p>
    <p>
      Весь код надо будет хранить и передавать с помощью
      <a href="https://git-scm.com/book/ru/v1">git</a>, а забавный счетчик
      говорит, что общее количество записавшихся человек с начала работы
      страницы - {{ counter }}.
    </p>
    <p>
      Если вы зашли на эту страницу до июля 2015 - то ориентировочное время
      старта именно-таки этот июль.
    </p>
  </section>
  <section>
    <h2>Сайты, без которых этой страницы не существовало бы</h2>
    <div class="horizontal-icon-list text-center">
    {% for link in links %}
        <a href="{{ link.url }}">
            <img src="{{ asset(link.icon) }}" alt="{{ link.title }}"/>
        </a>
    {% endfor %}
    </div>
  </section>
{% endblock %}